<!-- Botão para abrir o Sidebar (aparece apenas quando o sidebar está fechado) -->
<button
  *ngIf="!isSidebarOpen"
  (click)="toggleSidebar()"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<!-- Sidebar (aparece apenas quando `isSidebarOpen` for `true`) -->
<aside
  *ngIf="isSidebarOpen"
  class="fixed top-0 right-0 z-40 w-80 h-screen transition-transform bg-gray-50 dark:bg-gray-800 p-4"
  aria-label="Sidebar"
>
  <div class="h-full overflow-y-auto">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl text-white">Detalhes do Usuário</h2>
      <!-- Botão para fechar o Sidebar -->
      <button (click)="toggleSidebar()" type="button" class="mr-5">
        <span class="sr-only">Close sidebar</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="white"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </button>
    </div>

    <!-- Verifica se há um usuário selecionado antes de exibir os dados -->
    <div *ngIf="user" class="mt-6 text-white">
      <p><strong>Nome:</strong> {{ user.nome }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Telefone:</strong> {{ user.telefone | phone }}</p>
      <p><strong>Status:</strong> {{ user.status | status }}</p>
      <p><strong>Função:</strong> {{ user.funcao }}</p>

      <h3 class="mt-4 text-lg font-semibold">Endereço</h3>
      <p> {{ user.endereco | address }}</p>
      
    </div>
  </div>
</aside>
